
/* About */

.about-section {
    padding: 50px;
    text-align: center;
    background-color: white;
    color: black;
    box-shadow: 0 7px 10px 0 rgba(0.2, 0.2, 0.2, 0.2);
    padding-bottom: 40px;
}
  
.chefs {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 450px;
    height: 700px;
    background-color: #fff;

}

.chefs-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 15px;
}
  
.title {
    color: grey;
}

@media (max-width: 950px) {
    .chefs-section{
        display: flex;
        flex-direction: column;
        
    }
}



/* Carousel slider */

.car-image {
    max-height: 400px;
    object-fit: contain;
}

.slideshow-container section {
    align-items:center;
}

.slideshow-container {
    max-width: 700px;
    position: relative;
    margin: auto;
    margin: 40px auto;
    background-color: #fff;
    padding: 25px;
}
    
.mySlides {
    display:none;
}
    
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: rgb(11, 38, 21);
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 10px 0px;
    user-select: none;
}
    
.next {
    right: 0;
    border-radius: 10px 0px;
}
    
.prev:hover, .next:hover {
    background-color: rgba(159, 106, 106, 0.8);
    color: #fff;
}
    
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
    
    
/* MODAL */ 
    
.modal {
    z-index:1;
    display:none;
    padding-top:10px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:#ffe5e5(0, 0, 0, 0.685);
    background-color:rgba(255, 255, 255, 0.8)
}

.modal-content{
    margin: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-hover-opacity {
    opacity:1;
    filter:alpha(opacity=100);
    -webkit-backface-visibility:hidden;
}

.modal-hover-opacity:hover {
    opacity:0.60;
    filter:alpha(opacity=60);
    -webkit-backface-visibility:hidden;
} 

.close {
    text-decoration:none;float:right;font-size:24px;font-weight:bold;color:white
}
    
.container1 {
    width:450px;
    display:block;
    margin: auto;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}


/* Contact us */

input,
textarea {
    width: 400px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 16px;
}

h1 {
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
    font-size: 35px; 
    max-width: 800px;
    margin: auto;
}

h2{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 15px;
}

.contact{
    display: flex;
    flex-direction: column;
    padding:10px;
    align-items: center;
    float: center;
    margin: 10px auto;
}

.contact_content {
    padding: 30px 20px;   
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    float: right;
    padding: 30px;
    margin: 20px auto;
}

.form-error{
    color: red;
    display: none;
}

#message {
    height: 140px;
}
.contact-column{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    gap: 10px;
    background-color: #fff;
    padding: 10px;
    

}
/* Button */

button {
    width: 200px;
    display: block;
    margin: auto;
    background-color:#ffe5e5;
    height: 30px;
    padding: 3px 10px;
    border-radius: 10px 0px;
    font-size: 18px;
}

button:hover {
    background-color: #fff;
}

.loadmore {
    height: 50px;
    margin: 40px auto;
}
.loading {
    width: 40px;
    height: 40px;
    border: 4px solid red;
    border-bottom-color: #Ffe5e5;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
    
    @keyframes rotation {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
    }

/* Recipes */

.blogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 5px;
}

.image {
    max-height: 270px;
}

.blogs-box {
    align-items: center;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
    max-width: 450px;
    background-color: #fff;
}

@media(max-width:980px) {
    .blogs {
        display: grid;
        grid-template-columns: 1fr;
    }
}


/* Blogspecific */

p {
    font-size: 20px;
    text-align: center;
    margin: auto;
    text-decoration: solid;
    padding: 18px;
    max-width: 1000px;
}

.section {
    place-items:center;
    margin: 50px auto;
    padding: 30px;
    max-width: 1000px;
    padding: 20px;
}


/* Footer */ 

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    align-items: center; 
    padding: 10px;
    gap: 200px;
}
.footer.div {
    text-align: center;
}

.footer-logo {
    height: 80px;
    
}

